/* CSS Document */
/* 公共样式 */
body,div,ul,li,input,dd,dl,dt,span.a{margin:0px;padding:0px;font-size:12px;font-family:"arial","microsoft yahei","helvetica","sans-serif"}
html{height:100%;}
ul,li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
.cl{clear:both;}
.fl{float:left;}
.fr{float:right;}
/*download页面样式*/
.wrapper{width:910px;margin:0 auto;}
.wrapper .srch{width:300px;height:40px;border:1px solid #E4E4E4;float:right;background:#fff}
.wrapper .srch input{width:250px;height:38px;lin-height:38px;border:none;text-indent:10px;font-size:14px;background:#fff}
.wrapper .srch .srch-btn{width:48px;height:40px;background:url(../images/search.gif) no-repeat 7px center;border:none;}
.download-app{padding:15px 0 200px 0; overflow:hidden}
.download-app ul{border-top:1px solid #e4e4e4;}
.download-app li{width:302px;height:65px;padding:15px 0 0 0;border-width:0 1px 1px 0; border-style:solid;border-color:#E4E4E4;float:left}
.download-app li.no-b-r{border-right:none}
.download-app li .app-logo{width:50px;height:50px;margin:0 12px 0 20px;float:left}
.download-app li dl{width:120px;overflow:hidden; float: left;}
.download-app li dd,.download-app li dt{width:120px;letter-spacing:1px}
.download-app li dd{font-size:16px;float:left;color:#777;line-height:25px;}
.download-app li dt{float:left;color:#ccc}
.download-app li .dload{width:80px;float:left;position:relative}
.download-app li a.android-dload,.download-app li a.ios-dload{display:block;float:left;padding:4px;margin-top:4px;background-repeat:no-repeat; background-position:center center;z-index:0; cursor:pointer}
.download-app li a.android-dload{width:32px;height:32px; background-image: url(../images/android.gif);}
.download-app li a.android-dload:hover{background-image:url(../images/android_click.gif)}
.download-app li a.ios-dload{width:32px;height:32px;background-image: url(../images/apple.gif);}
.download-app li a.ios-dload:hover{background-image: url(../images/apple_click.gif)}
.popup{width:348px;height:182px;top:30px;left:-10px;background:url(../images/pop.png) no-repeat;position:absolute;z-index:1}
.to-localhost{width:86px;height:30px;margin:35px 0 0 45px;padding:100px 40px 0 0;background:url(../images/pop.jpg) no-repeat 0 top;border-right:1px solid #d6d6d6;font-size:16px;color:#777;text-align:center;display:block;float:left}
.popup img{width:140px;height:140px;margin:26px 0 0 12px;float:left}







