<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
			http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool-3.2.xsd
			http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd"
	default-autowire="byName">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	
<!--	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--		<property name="driverClassName" value="${jdbc.driver}" />-->
<!--		<property name="url" value="${jdbc.url}" />-->
<!--		<property name="username" value="${jdbc.username}" />-->
<!--		<property name="password" value="${jdbc.password}" />-->
<!--	</bean>-->
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
		      <!-- 基本属性 url、user、password -->
		      <property name="url" value="${jdbc.url}" />
		      <property name="username" value="${jdbc.username}" />
		      <property name="password" value="${jdbc.password}" />
		
		      <!-- 配置初始化大小、最小、最大 -->
		      <property name="initialSize" value="1" />
		      <property name="minIdle" value="1" /> 
		      <property name="maxActive" value="20" />
		
		      <!-- 配置获取连接等待超时的时间 -->
		      <property name="maxWait" value="60000" />
		
		      <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		      <property name="timeBetweenEvictionRunsMillis" value="60000" />
		
		      <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		      <property name="minEvictableIdleTimeMillis" value="300000" />
		      
		      <property name="validationQuery" value="SELECT 'x'" />
		      <property name="testWhileIdle" value="true" />
		      <property name="testOnBorrow" value="false" />
		      <property name="testOnReturn" value="false" />
		
		      <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		      <property name="poolPreparedStatements" value="false" />
		      <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
		
		      <!-- 配置监控统计拦截的filters -->
<!--		      <property name="filters" value="stat,log4j" /> -->
		      
		      <property name="connectionProperties" value="druid.stat.slowSqlMillis=3000" />
		  </bean>
	
	<!-- begin Spring Jdbc 操作类注入-->
	
    <!-- NamedParameterJdbcTemplate -->
	<bean id="nameJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg>
			<ref bean="dataSource" />
		</constructor-arg>
	</bean>
	
	<!-- JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" abstract="false"
        lazy-init="false" autowire="default">
		<constructor-arg>
			<ref bean="dataSource" />
		</constructor-arg>
    </bean>
  
    
	<bean id="sjdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate" >
		<constructor-arg>
			<ref bean="dataSource" />
		</constructor-arg>
	</bean>

	<!-- Spring Jdbc 存储过程 操作类注入-->
	<bean id="sjdbcCall" class="org.springframework.jdbc.core.simple.SimpleJdbcCall">
		<constructor-arg>
			<ref bean="dataSource" />
		</constructor-arg>
	</bean>
	
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
    	<property name="dataSource" ref="dataSource"></property>
 	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" read-only="false"/>
		</tx:attributes>
	</tx:advice>
	
	
<!--	 <bean id="druid-stat-interceptor"  class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">-->
<!--     </bean>-->

<!--	 <bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut"-->
<!--	    scope="prototype">-->
<!--	    <property name="patterns">-->
<!--	        <list>-->
<!--	            <value>com.*</value>-->
<!--	        </list>-->
<!--	    </property>-->
<!--	</bean>-->
	<bean id="logBean" class="com.framework.core.utils.LogUtils"></bean>
	<aop:config> 
		<aop:aspect id="log" ref="logBean">
			<aop:pointcut expression="execution(* com.apps*..action..*(..))" id="logpoint"/>
			<aop:before method="before" pointcut-ref="logpoint"/>
			<aop:after   method="after"   pointcut-ref="logpoint"/>
		</aop:aspect>
	</aop:config>
	<!-- AOP 事务  -->
	<aop:config>
		<aop:pointcut id="pc" expression="execution(* *..action..*(..))" />
		<aop:advisor pointcut-ref="pc" advice-ref="txAdvice" />
<!--		<aop:advisor pointcut-ref="druid-stat-pointcut" advice-ref="druid-stat-interceptor" />-->
	</aop:config>
	<!-- 采用@Transactional注解方式来使用事务
	<tx:annotation-driven transaction-manager="transactionManager"/>  -->
	
</beans>